ray==2.9.0
vllm
langchain==0.1.4
fastapi>=0.108.0
qdrant-client==1.7.1
rich==12.6.0
click==8.1
numexpr==2.7.3
shyaml==0.6.2
huggingface_hub[cli]
faster-whisper
hf-transfer
fastembed
starlette<=0.34.0
